body {
  background: #fafafa;
  color: #333333;
  margin-top: 8rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

a:hover {
  color: inherit; /* Inherit text color */
  text-decoration: none; /* Remove underline */
}

/* navigation bar */
#logo {
    background-image: url('pictures/eped-logo-header.png');
    background-size: contain; 
    background-repeat: no-repeat; /* dont show parts of a new logo*/
    display: inline-block;
    width: 100px;
    height: 50px; 
}

.navbar {
  background: #fafafa;
}

.site-header .navbar-nav .nav-link {
  color: #444444;
  font-size: larger;
  font-weight: bold;
}

.site-header .navbar-nav .nav-link:hover {
  color: #327e2d; 
}

/* About page */
.do-not-use{
  color: #d20d0d;
}

/* choose region */
.display-regions {
  display: flex;
  flex-direction: row;
  width: 50vw;
}
.region-button{
  width: 100%;
  padding: 10px;
  border: none;
  cursor: pointer;
}
.region-button:hover{
  background-color: #327e2d50; 
}

/* Search bar  */
.search-form {
  display: flex; /* Use flexbox to align items horizontally */
  justify-content: space-between; /* Align items with space between them */
  background-color:#d7d7d750;
  width: 50vw;
  padding: 1px;
}
.search-input {
  background-color: transparent;
  border: none;
  width: 50vw;
}
.search-button {
  border: none;
  background: none;
  padding: 5px;
  cursor: pointer;
}
.search-button:hover {
  transform: scale(1.1); /* Scale the button by 10% when hovered */
}

/* Results from search in home page */
.search-results ul {
  padding: 0; /* Remove default padding that causes an indent on list items in displayed results*/

}
.search-results{
  width: 50vw;
}
.display-results {
  background:#d7d7d750;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Align items with space between them */
  font-weight: 600;
}
.eped_name, .region-name{
  width: 40vw;
}
.pdf.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.print-site-button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: none;
}
.print-site-button:hover {
  transform: scale(1.1); /* Scale the button by 10% when hovered */
}
.extra-prints{
  display: flex; /* Use flexbox to align items horizontally */
  justify-content: space-between; /* Align items with space between them */
  background-color:#d7d7d750;
  padding: 10px;
}

/* Media query for smaller screens */
@media (min-width: 769px) and (max-width: 992px) {
  .search-results, .display-regions, .search-form, .search-input {
    width: 60vw;
  }
}
@media (max-width: 768px) {
  .search-results, .display-regions, .search-form, .search-input {
      width: 80vw;
  }
}

/* Om Oss sidan */
.contact{
  background-color: #327e2d40;
  border-radius: 5px;
  padding: 5%;
}