
body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}
.container .row{
  justify-content: center; /* Horizontally center the flex items */
}

#logo {
    background-image: url('pictures/eped-logo-header.png');
    background-size: contain; 
    background-repeat: no-repeat; /* dont show parts of a new logo*/
    display: inline-block;
    width: 100px;
    height: 50px; 
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  border-bottom: 1px solid #8d9290;
}

.site-header .container .navbar-toggler{
  background-color: #327e2d;
}
.site-header .navbar-nav .nav-link {
  color: #000000;
  font-size: larger;
  font-weight: bold;
  margin-right: 10px;
}

.site-header .navbar-nav .nav-link:hover {
  color: #327e2d; 
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

/* this is the home page */

/* Remove default padding that causes an indent on list items in displayed results*/
.search-results ul {
  padding: 0; 
}

.search-results .display-results {
  width: 50vw;
  background-color:#d7d7d750;
  text-align: left; 
  border: 1px solid #9c9c9c; /* Add a 1px solid border around each result */
  padding: 10px; /* Add padding to create space around each result */
  margin-bottom: 10px; /* Add margin at the bottom to create space between results */
  cursor: pointer;
  border-radius: 10px;
}

.search-results .display-results:hover {
  background-color: #327e2d80; /* Add background color when hovering the button */
}


.search-form {
  display: flex; /* Use flexbox to align items horizontally */
  justify-content: space-between; /* Align items with space between them */
  background-color:#d7d7d750;
  border-radius: 10px;
  margin-bottom: 50px;
  margin-top: 50px;
  border: 1px solid #9c9c9c; /* Add a 1px solid border around each result */
  width: 50vw;
}
.search-button{
  border: none;
  background-color: #327e2d80;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 5px;
  cursor: pointer;
}

.search-input {
  background-color: transparent;
  border: none;
  width: 50vw;
}




