
<!-- Author(s): 
Rasmuss Brodin (rpbrodin@kth.se)
Klara Lindemalm (klindema@kth.se)

Description: Code to create an about page. -->

{% extends "layout.html" %}
{% block content %}
    <div class="row mb-5">
        <div class="col-md-8">
            <div class="mb-5 mt-5">
                <h1>Om Oss</h1>
                <p>
                    Detta projekt är en del av ett kandidatexamensarbete som utförs av Rasmuss Brodin och Klara Lindemalm vid KTH under handledning av Per Nydert på ePed. Syftet med projektet är att utveckla en proof of concept webblösning för att skriva ut etiketter ämnade för iordningställande baserade på ePed.
                </p>
            </div>
            <h1>Om ePed</h1>
            <div>
                <h5>
                    ePed står för erfarenhet- och evidensbaserad databas för barnläkemedel. Det är ett beslutsstöd för läkemedelsbehandling med olika substanser och beredningsformer till barn.
                </h5>

                <p>
                    Barn behöver bra och säkra läkemedel. ePed är ett beslutsstöd som kortfattat beskriver läkemedelsbehandling med olika substanser och beredningsformer. Men ePed är också ett fantastiskt nätverk där barnkliniker i Sverige samarbetar kring frågor som rör läkemedelshantering inom barnsjukvård. Vid Astrid Lindgrens Barnsjukhus finns den centrala redaktionen som kontinuerligt förvaltar och utvecklar ePed.
                </p>
                <p>
                    ePed har som målsättning att framförallt jobba med praktisk information. Hur gör jag? Var finns läkemedlet? Vilken dos vid vilken indikation? Hur gör jag för att undvika fel, hur har andra organisationer löst problemen? Rimlighetsbedömning etc. ePed står för erfarenhet- och evidensbaserad databas för barnläkemedel.
                </p>
                <p>
                    Barn behöver bra och säkra läkemedel. ePed är ett beslutsstöd som kortfattat beskriver läkemedelsbehandling med olika substanser och beredningsformer. Men ePed är också ett fantastiskt nätverk där barnkliniker i Sverige samarbetar kring frågor som rör läkemedelshantering inom barnsjukvård. Vid Astrid Lindgrens Barnsjukhus finns den centrala redaktionen som kontinuerligt förvaltar och utvecklar ePed.
                </p>
                <p>
                    ePed startade 2005 som en databas för läkemedel inom neonatalverksamheten i Stockholm där Sachsska- och Astrid Lindgrens Barnsjukhus sökte ett samarbete. En Accessdatabas byggdes för att generera papperslistor med läkemedel och spädningsinstruktioner. Arbetet utvidgades snart att omfatta alla barn, från 0-18 år, och därmed all barnsjukvård.
                </p>
                <p>
                    Vid ingången till elektronisk läkemedelsmodul på ALB på Karolinska 2008 utvecklades databasen till att kunna generera information för barnläkemedel i pdf-format. 2011 utvecklades rimlighetskontrollen och 2016 Best practice.
                </p>
                <p>
                    Den centrala ePed-redaktionen har erhållit ett flertal priser som Guldpillret, IT i vården priset samt nominerats till Medtech 4Health Innovation award.
                </p>
                <p>
                    Arbetssättet är unikt och inkluderar alla barnsjukhus och därmed alla experter som arbetar med svensk barnsjukvård. Utifrån behov sammanställs information från olika källor och experter bidrar utifrån ett agilt arbetssätt. Informationen publiceras veckovis och finns integrerad i de olika journalsystemen. ePed finns även tillgängligt här på hemsidan.
                </p>
                <p>
                    Sedan 2014 bekostas ePed nationellt solidariskt av Sveriges regioner.
                </p>
                <p>
                    ePed är utformat framför allt för vårdpersonal men håller på att utvecklas med information för patienter och vårdnadshavare.
                </p>
                <a href="https://eped.se/om-eped/">Källa</a>
                <p>  </p>
            </div>
        </div>
        <div class="col-lg-2 col-md-1 mt-5">
        </div>
        <div class="col-lg-2 col-md-3  col-sm-3 mt-5">
            <div class="contact-container text-center">
                <h1 class="mb-5">Kontakt</h1>
                <div class="contact mb-5">
                    <p>
                        Centrala ePed-redaktionen
                    </p>
                    <p>
                        eped@regionstockholm.se
                    </p>
                    <p>
                        08-123 755 75
                    </p>
                </div>
            </div>

        </div>
    </div>

{% endblock content %}