{% extends "layout.html" %}
{% block content %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const searchForm = document.querySelector('.search-form');
        const searchInput = document.querySelector('.search-input');

        searchForm.addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent the form from submitting traditionally
            searchMedicine(searchInput.value);
        });

        function searchMedicine(query) {
            if (!query.trim()) {
                document.querySelector(".search-results").innerHTML = '';
                return;
            }
            fetch(`/search?query=${encodeURIComponent(query.trim())}`)
            .then(response => response.json())
            .then(data => {
                let resultsHtml = '';
                if (data.length > 0) {
                    data.forEach(item => {
                        resultsHtml += `
                        <div class="display-results border mb-3">
                            <a class="eped_name" href="/medicine/${item.eped_id}" style="text-decoration: none; color: inherit;">${item.name}</a>
                            <div class="pdf-button-container">
                                <button class="print-site-button" type="button" onclick="openLink('${item.url_link}')">
                                    <img src="../static/pictures/file-text.svg" alt="site">
                                </button>
                            </div>
                        </div>`;
                    });
                } else {
                    resultsHtml = `<h2>Inga resultat för "${query}"</h2>`;
                }
                document.querySelector(".search-results").innerHTML = resultsHtml;
            });
        }

        searchInput.addEventListener('input', function() {
            searchMedicine(this.value);
        });
    });

    function printMedicine(printId) {
        fetch(`/print/${printId}`)
        .then(response => response.json())
        .then(data => {
            var printFrame = document.createElement('iframe');
            printFrame.name = 'print_frame';
            printFrame.style.position = 'absolute';
            printFrame.style.top = '-10000px';
            document.body.appendChild(printFrame);

            var printDoc = printFrame.contentWindow ? printFrame.contentWindow : printFrame.contentDocument.document ? printFrame.contentDocument.document : printFrame.contentDocument;
            printDoc.document.open();
            printDoc.document.write(data.print_text);
            printDoc.document.close();

            printFrame.contentWindow.focus();
            printFrame.contentWindow.print();

            printFrame.parentNode.removeChild(printFrame);
        });
    }

    function openLink(url) {
        window.open(url, '_blank');
    }
</script>
<div>
    <div>
        <form class="search-form mx-auto border mb-5" method="GET">
            <input type="text" name="query" placeholder="Sök Läkemedel..." class="search-input">
            <button type="submit" class="search-button">
                    <img src="../static/pictures/search.svg" alt="Search">
            </button>
        </form>            
    </div>
    <div class="search-results mx-auto"></div>
</div>
{% endblock content %}
