{% extends "layout.html" %}
{% block content %}
<script>
    function printMedicine(medicineId) {
        fetch(`/print/${medicineId}`)
        .then(response => response.json())
        .then(data => {
            const printWindow = window.open('', '_blank');
            printWindow.document.write(data.print_text);
            printWindow.document.close();
            printWindow.focus();
            printWindow.print();
            printWindow.close();
        });
    }
</script>

    <div>
        <div>
            <form class="search-form" method="GET">
                <input type="text" name="query" placeholder=" Sök..." class="search-input">
                <button type="submit" class="search-button">
                        <img src="../static/pictures/search.svg" alt="Search">
                </button>
            </form>            
        </div>
        <div class="search-results">
            {% if results %}
            <h2> Resultat för "{{ query }}"</h2>
                <ul>
                    {% for item in results %}
                    <button class="display-results" type="button" onclick="printMedicine('{{ item.id }}')">
                            <div>{{ item.name }}</div>
                        </button>
                    {% endfor %}
                </ul>
            {% elif query %}
                <h2>Inga resultat för "{{ query }}"</h2>
            {% else %}
                <h2>Sök efter ett läkemedel</h2>
            {% endif %}
        </div>
    </div>
{% endblock content %}
