{% extends "layout.html" %}
{% block content %}
<div>
    <div class="medicine-header">
        <h3>{{ medicine.name }}</h3>
        <button class="print-site-button" type="button" onclick="openLink('{{ medicine.url_link }}')">
            <img src="../static/pictures/file-text.svg" alt="site">
        </button>
    </div>
    {% if print_texts %}
        {% for print_text in print_texts %}
            <span>{{ print_text.print_name }}</span>
            <div class="label-preview">
                <button class="print-label-button" onclick="printMedicine('{{ print_text.id }}')">
                    <img src="{{ url_for('static', filename='labels/' ~ print_text.id ~ '.png') }}" alt="Label Preview">
                </button>
            </div>
        {% endfor %}
    
    {% else %}
        <p>Inga etiketter tillgängliga.</p>
    {% endif %}
</div>

<script>
    function openLink(url) {
        window.open(url, '_blank');
    }
</script>

<script>
    function printMedicine(printId) {
        fetch(`/print/${printId}`)
        .then(response => response.json())
        .then(data => {
            // Create an iframe element dynamically
            var printFrame = document.createElement('iframe');
            printFrame.name = 'print_frame';
            printFrame.style.position = 'absolute';
            printFrame.style.top = '-10000px';
            document.body.appendChild(printFrame);

            // Write the print_text content to the iframe's document
            var printDoc = printFrame.contentWindow ? printFrame.contentWindow : printFrame.contentDocument.document ? printFrame.contentDocument.document : printFrame.contentDocument;
            printDoc.document.open();
            printDoc.document.write(data.print_text);
            printDoc.document.close();
    
            // Trigger the print dialog for the iframe
            printFrame.contentWindow.focus();
            printFrame.contentWindow.print();
    
            // Remove the iframe after printing
            printFrame.parentNode.removeChild(printFrame);
        });
    }
</script>
{% endblock %}